// Custom styles.

// Gist
.gist
{
 opacity: 1.0 !important;
}

.gist .gist-file article {
    // padding: 6px !important;
    padding: 0px !important;
}

.gist-meta {
 display: none !important;
}

.gist-data {
  border-radius: 6px 6px 6px 6px !important;
  background: #ffffff01 !important;
  border: none !important;
}

.gist-file {
    font-weight: 510 !important;
    margin-bottom: 0em !important;
    font-family: 'Roboto Slab','Noto Serif SC',"Noto Serif SC",sans-serif !important;
    color: black !important;
    border: 0px solid !important;
}
